<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="../static/style.css">
        <title>Protect Privacy</title>
    </head>
    <body>
        <h1><span class="material-symbols-outlined">
            shield
            </span>
        Protect Privacy</h1>

        <h3>画像から個人情報を検出して保護します。</h3>
        <form enctype="multipart/form-data">
            <input type="file" name="img">
            <button type="submit" formmethod="post">個人情報を保護する</button></form>
            {% if base64_img %}
                <p>オリジナル画像</p>
                <div class="resize-image">
                    <img src="data:image/jpeg;base64,{{base64_img}}" />
                </div>
            {% endif %}
            {% if protected_base64_img %}
                <h3>保護処理後画像</h3>
                <div class="resize-image">
                    <img src="data:image/jpeg;base64,{{protected_base64_img}}" />
                </div>
            {% endif %}
        </form>
    </body>
</html>
