body {
    font-family: 'Noto Sans JP', sans-serif;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 20
}



.resize-image img{
    max-width: 75%;
    height: auto;
    margin-bottom: 10px;
}

.a-btn {
  color: white;
  font-weight: bold;
  background-color: rgb(0, 102, 255);
  text-decoration: none;
  padding: 8px;
}
