body {
    font-family: 'Noto Sans JP', sans-serif;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 20
}

.resize-image img{
    max-width: 75%;
    height: auto;
}